/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/06/2017, 09:20:06
    Author     : Aluno
*/
body{
    backgroud-color:#000000;
    color:#FFFFFFF; 
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size:12px;
    text-align: justify;
    
}

#geral{
    margin:auto;
    width:800px;
}

header{
    background-image: url("../img/q.png");
    height:150px;
    background-repeat: no-repeat;
    width:960px;
    align-content: center;
}
nav{
    height: 50px;
    border-top: 10px #FFF solid;
    text-align: center;
    margin: 0px;
    padding: 0 ;
}

nav ul li{
    display: inline;
    
}
nav ul li a:hover{
    background-color: #D6D6D6;
    color: #6D6D6D;
    margin-top: 10px;
    
}

nav ul li a{
   text-decoration: none;
    padding: 14px 32px;
    border-radius: 10px 20px 30px; 
    background-image: url("../img/didi.png");
    background-repeat: no-repeat;
}

section{
    height: 400px;
    width: 960px;
    float: left;
    margin-top: 10px;    
}
#sup{
    background-color: #999999;
    height:50px;margin-top:10px;
    text-align: center;
}

#banner{
    background-color: #CCCCCC;
    width: 300px; 
    float: left; 
    height: 640px;
    margin-top:10px;
}

#conteudo{
    background-color: #333333;
    width:480px; 
    float:right;
    height:640px;
    margin-top:10px;
}
footer {
    margin-top: 350px;
    height: 150px;
    width: 960px;
    background-image: url("../img/pao.jpg");
    background-repeat: no-repeat;
}
